
<!DOCTYPE html>
<html>
  <head>
<title>Heroes</title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/animate.css" rel="stylesheet" type="text/css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/css/aos.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
    <footer class="footer"><p>&copy; 2018 All Rights Reserved. Moringa School, Heroes Project. Developed by Richard Willie.</p> </footer>
    

  <script src="js/jquery-3.3.1.js "></script>
  <script src="js/bootstrap.js "></script>
  <script src="js/scripts.js "></script>
  <script src="js/aos.js "></script>
  <script>
    AOS.init();
  </script>
  </body>

</html>